#content {
  margin: 0 auto; 
  text-align: center; 
  width: 1000px;
}

.portrait {
  height: 500px;
  width: 500px;  
  border-radius: 50%; 
}

.about {
  font-size: 25px; 
  font-family: 'Courier New';
}
