#intro {
  margin: 0 auto; 
  text-align: center; 
  width: 1000px;
}

#content {
  margin: 0 auto;  
  text-align: left; 
  width: 1000px;
}

#gallery {
  text-align: center;
}

.portrait {
  height: 500px;
  width: 500px;  
  border-radius: 50%; 
  margin-bottom: 10px; 
}

.title {
  font-size: 25px; 
  font-family: 'Courier New', Courier, monospace; 
  margin-top: 0;
  margin-bottom: 0; 
}

.fa {
  padding: 20px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #2c4762;
  color: white;
}

.aboutme {
  font-size: 20px; 
  font-family: 'Times New Roman', Times, serif; 
}

.photo {
  height: 350px;
  width: 350px; 
  margin-bottom: 10px;     
}
